bz2file==0.98
gensim==4.3.3
jieba==0.42.1
loader==2017.9.11
matplotlib==3.8.2
networkx==3.3
numpy==1.23.5
regex==2024.7.24
Requests==2.32.3
scikit_learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
sentencepiece==0.2.0
setuptools==72.1.0
six==1.16.0
tensorflow==2.9.3
tqdm==4.66.2
typeguard==4.3.0
